html{
    scroll-behavior: smooth;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    transition: all linear 0.3s;
    -webkit-transition: all linear 0.3s;
    -moz-transition: all linear 0.3s;
    -ms-transition: all linear 0.3s;
    -o-transition: all linear 0.3s;
    color: var(--defaultColor);
}
:root{
    --inter: "Inter", sans-serif;
    --Space: "Space Grotesk", sans-serif;
    --defaultSize: 18px;
    --defaultColor: #232323;
}
body{
    font-family: var(--inter);
    font-size: var(--defaultSize);
}
.container{
    max-width: 1200px;
    margin: 0 auto;
}
span{
    display: inline-block;
}
a{
    display: inline-block;
    text-decoration: none;
    color: inherit;
}
p{
    font-weight: 400;
    line-height: 1.70;
    color: var(--defaultColor);
    letter-spacing: -0.6px;    
}
ol,ul{
    list-style-type: none;
}
.dGrid{
    display: grid;
}
.commonBtn{
    font-weight: 500;
    color: #fff;
    border: 1px solid #fff;
    padding: 16px 40px;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
}
.commonBtn:hover{
    background-color: #fff;
    color: #394792;
}

/* Nav Start */
#nav {
    width: 100%;
    background: #394792;
    padding: 16px 0;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    z-index: 999999999;
}
#nav .dGrid{
    grid-template-columns: repeat(3, auto);
    justify-content: space-between;
    align-items: center;
}
#nav .dGrid ul{
    display: grid;
    grid-template-columns: repeat(4, auto);
    justify-content: space-between;
    align-items: center;
    column-gap: 60px;
    text-transform: capitalize;
}
#nav .dGrid ul li a{
    color: #fff;
    position: relative;
}
#nav .dGrid .navBtn a:first-child{
    border: 0;
}
#nav .dGrid ul li a::after{
    content: "";
    width: 0;
    height: 1px;
    background-color: #fff;
    position: absolute;
    left: 0;
    bottom: -1px;
    transition: all linear 0.4s;
    -webkit-transition: all linear 0.4s;
    -moz-transition: all linear 0.4s;
    -ms-transition: all linear 0.4s;
    -o-transition: all linear 0.4s;
}
#nav .dGrid ul li:hover a::after{
    width: 100%;
    cursor: pointer;
}
/* Nav End */

/* Banner Start */
#banner{
    background-color: #394792;
    padding-top: 210px;
    padding-bottom: 107px;
    position: relative;
}
#banner .bannerIllustration1 {
    position: absolute;
    top: 221px;
    left: calc(50% + 30px);
    z-index: 1;
}
#banner .bannerIllustration2 {
    position: absolute;
    top: 335px;
    left: calc(50% - 186px);
    z-index: 1;
}
#banner .container{
    position: relative;
    z-index: 2;
}
#banner .dGrid{
    grid-template-columns: repeat(1200, 1fr);
    justify-content: space-between;
    align-items: end;
}
#banner .dGrid .left{
    grid-column: span 670;
}
#banner .dGrid .right{
    grid-column: span 530;
}
#banner .title{
    font-family: var(--Space);
    font-size: 64px;
    font-weight: 500;
    line-height: 1.20;
    letter-spacing: -5px;
    color: #fff;
}
#banner .dGrid .left p {
    color: rgba(255, 255, 255, 0.8);
    margin-top: 30px;
    margin-bottom: 40px;
    padding-right: 13%;
}
#banner .bnnerBtn .commonBtn:first-child{
    margin-right: 24px;
    color: #394792;
    background: #fff;
}
#banner .dGrid .left .counter{
    display: grid;
    grid-template-columns: repeat(3, 100px);
    justify-content: start;
    column-gap: 80px;
    margin-top: 80px;
    color: #fff;
    position: relative;
}
#banner .dGrid .left .counter .counterItem::after{
    content: "";
    width: 1px;
    height: 100%;
    background-color: #fff;
    position: absolute;
    right: 0;
    top: 0;
}
#banner .dGrid .left .counter .counterItem h3 {
    font-family: var(--Space);
    font-size: 32px;
    font-weight: 500;
    letter-spacing: -.4px;
    color: #fff;
}
#banner .dGrid .left .counter .counterItem span{
    line-height: 1.5;
    letter-spacing: -0.45px;
    color: rgba(255, 255, 255, 0.8);
}
#banner .dGrid .right .bannerImage {
    width: 100%;
    height: auto;
    margin-bottom: -15px;
}
/* Banner End */

/* Management Start */
#management{
    padding: 100px 0;
}
#management .title{
    font-family: var(--Space);
    font-size: 48px;
    font-weight: 500;
    line-height: 1.40;
    text-align: center;
}
#management .dGrid{
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    column-gap: 30px;
    margin-top: 64px;
}
#management .card{
    border-radius: 16px;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    -ms-border-radius: 16px;
    -o-border-radius: 16px;
}
#management .card .cardHead{
    overflow: hidden;
    margin-bottom: 24px;
}
#management .card .cardHead img{
    width: 100%;
    height: auto;
}
#management .card .cardBody h2{
    font-size: 24px;
    font-weight: 500;
    line-height: 1.40;
    text-align: justify;
    letter-spacing: -0.5px;
}
#management .card .cardBody p{
    line-height: 1.70;
    text-align: justify;
    letter-spacing: -0.6px;
    color: #757575;
    margin-top: 16px;
}
/* Management End */

/* Others Start */
#others{
    padding: 100px 0;
    position: relative;
}
#others .otherIllustration {
    position: absolute;
    top: 151px;
    left: calc(50% + 600px - 25px);
    transform: translateX(-100%);
    z-index: 1;
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
}
#others .container{
    position: relative;
    z-index: 2;
}
#others .dGrid{
    grid-template-columns: repeat(2, 1fr);
}
#others .dGrid .left{
    overflow: hidden;
}
#others .dGrid .right{
    margin-left: 116px;
}
#others .dGrid .right .title{
    font-family: var(--Space);
    font-size: 48px;
    font-weight: 500;
    line-height: 1.40;
    letter-spacing: -2.5px;
}
#others .dGrid .right>p{
    margin-top: 25px;
}
#others .dGrid .right ul{
    margin-top: 25px;
}
#others .dGrid .right ul li{
    display: grid;
    grid-template-columns: repeat(2, auto);
    justify-content: start;
    align-items: center;
    column-gap: 16px;
    padding: 16px;
    border: 1px solid rgba(35, 35, 35, 0.16);
    border-radius: 16px;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    -ms-border-radius: 16px;
    -o-border-radius: 16px;
    margin-bottom: 24px;
}
#others .dGrid .right ul li:last-child{
    margin-bottom: 0;
}
/* Others End */

/* users Start */
#users{
    padding: 100px 0 130px;
    background-color: #F9FAFF;
}
#users .dGrid{
    grid-template-columns: repeat(2, 1fr);   
    margin-bottom: 64px; 
}
#users .dGrid p{
    margin-top: 32px;
    padding-right: 30px;
}
#users .dGrid .pagination{
    justify-self: end;
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 16px;
}
#users .dGrid .pagination a i{
    width: 72px;
    height: 72px;
    font-size: 25px;
    text-align: center;
    line-height: 72px;
    color: #fff;
    background-color: rgba(50, 90, 151, 0.1);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
#users .dGrid .pagination a i.active{
    background-color: #325B97;
}
#users .dGrid .pagination a i:hover{
    background-color: #325B97;
}
#users .userCardWrapper{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}
#users .userCardWrapper .card{
    background-color: #fff;
    border-radius: 32px;
    -webkit-border-radius: 32px;
    -moz-border-radius: 32px;
    -ms-border-radius: 32px;
    -o-border-radius: 32px;
    padding: 48px;
}
#users .userCardWrapper .card .cardTitle{
    font-size: 24px;
    font-weight: 500;
    display: grid;
    grid-template-columns: repeat(6, auto);
    column-gap: 10px;
    justify-content: start;
    align-items: center;
}
#users .userCardWrapper .card .cardTitle i{
    font-size: 13.5px;
    color: #FFC236;
}
#users .userCardWrapper .card .cardTitle i:first-child{
    margin-left: 7px;
}
#users .userCardWrapper .card > p{
    color: #757575;
    padding-bottom: 24px;
    margin: 24px 0;
    letter-spacing: -0.7px;
    border-bottom: 1px solid rgba(35, 35, 35, 0.16);;
}
#users .userCardWrapper .card .profileWrapper{
    display: inline-grid;
    grid-template-columns: repeat(2, auto);
    align-items: center;
    gap: 24px;
}
#users .userCardWrapper .card .profileWrapper img{
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
#users .userCardWrapper .card .profileWrapper span{
    font-family: var(--inter);
    font-size: 18px;
    font-weight: 500;
    color: var(--defaultColor);
}
#users .userCardWrapper .card .profileWrapper p{
    font-size: 18px;
    color: #757575;
}
/* users End */

/* Pricing Start */
#pricing{
    padding: 100px 0;
}
#pricing h2{
    font-family: var(--Space);
    font-size: 48px;
    font-weight: 500;
    text-align: center;
    color: #232323;
}
#pricing .container > p{
    font-weight: 400;
    text-align: center;
    color: rgba(35, 35, 35, 0.80);
    margin: 64px 0;
}
#pricing .dGrid{
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    align-items: center;
    gap: 32px;
}
#pricing .dGrid .card{
    border: 1px solid rgba(35, 35, 35, 0.16);
    border-radius: 32px;
    -webkit-border-radius: 32px;
    -moz-border-radius: 32px;
    -ms-border-radius: 32px;
    -o-border-radius: 32px;
    padding: 32px;
    overflow: hidden;
}
/* #pricing .dGrid .card:hover{
    background-color: #325B97;
}
#pricing .dGrid .card:hover h3{
    color: #fff;
}
#pricing .dGrid .card:hover h3 i{
    color: #fff;
}
#pricing .dGrid .card:hover .price{
    color: #fff;
}
#pricing .dGrid .card:hover .price span{
    color: #fff;
}
#pricing .dGrid .card:hover p{
    color: #fff;
} */
#pricing .dGrid .card:hover {
    background-color: #325B97;
    color: #fff;
    cursor: pointer;
}
#pricing .dGrid .card:hover h3{
    border-color: #fff;
}

#pricing .dGrid .card:hover h3,
#pricing .dGrid .card:hover h3 i,
#pricing .dGrid .card:hover .price,
#pricing .dGrid .card:hover .price span,
#pricing .dGrid .card:hover p,
#pricing .dGrid .card:hover ul li,
#pricing .dGrid .card:hover ul li i,
#pricing .dGrid .card:hover ul li:last-child,
#pricing .dGrid .card:hover ul li:last-child i,
#pricing .dGrid .card:hover ul li:nth-last-child(2),
#pricing .dGrid .card:hover ul li:nth-last-child(2) i {
    color: #fff;
}
#pricing .dGrid .card:hover .commonBtn {
    background-color: #fff;
    color: #325B97;
}

#pricing .dGrid .card > h3 i{
    font-size: 25px;
}
#pricing .dGrid .card > h3{
    font-family: var(--Space);
    font-size: 32px;
    font-weight: 500;
    line-height: 1.40;
    letter-spacing: -0.5px;
    color: #232323;
    border: 1px solid rgba(35, 35, 35, 0.16);
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    display: inline-grid;
    grid-template-columns: repeat(2, auto);
    justify-content: start;
    align-items: center;
    column-gap: 16px;
    padding: 10px 24px;
}
#pricing .dGrid .card .price{
    font-size: 24px;
    font-weight: 500;
    line-height: 1.40;
    letter-spacing: -0.5px;
    color: #757575;
    margin: 45px 0 25px;
}
#pricing .dGrid .card .price span{
    font-family: var(--Space);
    font-size: 48px;
    font-weight: 500;
    color: #232323;
}
#pricing .dGrid .card p{
    font-size: 18px;
    font-weight: 500;
    line-height: 1.40;
    letter-spacing: -0.5px;
    color: #757575;
    margin: 16px 0 35px;
}
#pricing .dGrid .card ul{
    display: grid;
    gap: 16px;
}
#pricing .dGrid .card ul li i{
    color: #155CB5;
    margin-right: 8px;
}
#pricing .dGrid .card.basic ul li:last-child,
#pricing .dGrid .card.basic ul li:last-child i{
    color: #8E8E8E;
}
#pricing .dGrid .card.basic ul li:nth-last-child(2),
#pricing .dGrid .card.basic ul li:nth-last-child(2) i{
    color: #8E8E8E;
}
#pricing .dGrid .card .commonBtn {
    background-color: #325B97;
    margin-top: 32px;
    border: 0;
    display: block;
    text-align: center;
}
/* Pricing End */

/* Smart Start */
#smart{
    padding: 100px 0;
    background-color: #f9faff;
}
#smart .smartWrapper{
    background-color: #394792;
    position: relative;
    overflow: hidden;
    border-radius: 32px;
    -webkit-border-radius: 32px;
    -moz-border-radius: 32px;
    -ms-border-radius: 32px;
    -o-border-radius: 32px;
    padding: 100px 64px;
}
#smart .smartWrapper h2{
    width: 50%;
    font-family: var(--Space);
    font-size: 48px;
    font-weight: 500;
    line-height: 1.4;
    letter-spacing: -0.5px;
    color: #fff;
    margin-bottom: 24px;
}
#smart .smartWrapper .commonBtn{
    color: #394792;
    background-color: #fff;
    box-shadow: -1px 11px 24px 0px rgba(255,255,255,0.2);
    -webkit-box-shadow: -1px 11px 24px 0px rgba(255,255,255,0.2);
    -moz-box-shadow: -1px 11px 24px 0px rgba(255,255,255,0.2);
}
#smart .smartWrapper .smartImage{
    position: absolute;
    right: 0;
    bottom: 0;
    border-radius: 25px 0 0 0;
    -webkit-border-radius: 25px 0 0 0;
    -moz-border-radius: 25px 0 0 0;
    -ms-border-radius: 25px 0 0 0;
    -o-border-radius: 25px 0 0 0;
    background-color: #D9D9D9;
}
#smart .smartWrapper .smartIcon {
    position: absolute;
    left: calc(50% - 310px);
    bottom: 92px;
}
/* Smart End */

/* footer start */
#footer{
    padding: 100px 0;
}
#footer .dGrid{
    grid-template-columns: repeat(12, 1fr);
    /* column-gap: 129px; */
}
#footer .dGrid .left {
    grid-column: span 4;
    margin-right: 129px;
}
#footer .dGrid .left > p{
    font-weight: 500;
    line-height: 1.50;
    letter-spacing: -1px;
    color: #325B97;
    margin-top: 24px;
}
#footer .dGrid .right{
    grid-column: span 8;
    display: grid;
    grid-template-columns: repeat(4, minmax(140px, 1fr));
    justify-content: space-between;
    margin-top: 16px;
}

#footer .dGrid .right ul li{
    text-transform: capitalize;
    color: rgba(35, 35, 35, 0.70);
    margin-bottom: 16px;
}
#footer .dGrid .right ul li:first-child{
    font-size: 24px;
    font-weight: 600;
    letter-spacing: -0.5px;
    color: #232323;
    margin-bottom: 32px;
}
#footer .dGrid .right ul li:last-child{
    margin-bottom: unset;
}
#footer .dGrid .right ul li a{
    text-transform: capitalize;
    position: relative;
}
#footer .dGrid .right ul li a::before {
    content: "";
    width: 0;
    height: 2px;
    background-color: rgba(35, 35, 35, 0.70);
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transition: all linear 0.3s;
    -webkit-transition: all linear 0.3s;
    -moz-transition: all linear 0.3s;
    -ms-transition: all linear 0.3s;
    -o-transition: all linear 0.3s;
}
#footer .dGrid .right ul li a:hover{
    color: #394792;
    padding-left: 15px;
}
#footer .dGrid .right ul li a:hover::before{
    width: 10px;
}
/* footer end */
